* {
    --color1: #61892f;
    --color2: #86c232;
    --color3: #222629;
    --color4: #474B4f;
    --color5: #6b6e70;
    --color6: white;
    --numProjects: 3
}

nav {
    background-color: aquamarine;
}

main {
    background-color: aqua;
}

.projects {
    background-color: bisque;
}

footer {
    background-color: burlywood;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1.5fr 0.2fr;
}

.projectsContainer {
    display: grid;
    height: 80%;
    /*Repeat x amount of times and choose a size range (greater than or equal to min) and (less than or equal to max).
    evenly spaces out the project items*/
    grid-template-columns: repeat(var(--numProjects), minmax(0, 1fr));
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    overflow-wrap: break-word;
}

.projectItem {
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
}

.projectsContainer a {
    text-decoration: none;
    font-size: 2.5rem;
    color: white
}

/*Mobile*/
@media only screen and (max-width: 550px) {
    nav {
        background-color: blue;
    }
    .projectsContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}